@import url('https://use.typekit.net/vju5eif.css');

@font-face {
    font-family: 'Relik Grotesque';
    src:
        url('../assets/fonts/RelikGrotesqueVF.woff2') format('woff2'),
        url('../assets/fonts/RelikGrotesqueVF.woff') format('woff');
    font-weight: 100 900;
    /* variable font range — adjust if the file is narrower */
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family-relik-grotesque: 'Relik Grotesque', sans-serif;
    --font-family-proxima-nova: 'proxima-nova', sans-serif;
    --font-family-montserrat: montserrat, sans-serif;
    --font-family-aptos: aptos, sans-serif;
    --font-family-aptos-display: aptos-display, sans-serif;
    --font-family-nexa: nexa, sans-serif;
    --font-family-nexa-text: nexa-text, sans-serif;
    --font-family-bogart: bogart, sans-serif;
}